<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="3">
        <ion-button size="default" fill="clear" (click)="onClick(favorite=!favorite)" (click)="onClick(favChamps.push(champhere))">
          <ion-icon slot="icon-only" [name]="favorite? 'star' : 'star-outline'" color="warning"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-text style="font-family: bold LoL Custom Font;">AMUMU</ion-text>
      </ion-col>
    </ion-row>
        <ion-button slot="end" size="default" fill="clear" routerLink="/home/champ">
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <ion-card>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Amumu_0.jpg">
    <ion-card-header>
    </ion-card-header>
    <ion-card-content style="font-family: bold LoL Custom Font;" color="secondary">
      Reza a lenda que Amumu é uma alma solitária e melancólica da antiga Shurima que vaga sem rumo pelo mundo em busca de um amigo. Amaldiçoado por um feitiço ancestral para permanecer só pela eternidade, seu toque traz a morte e sua afeição, a ruína. Aqueles que afirmam já tê-lo visto o descrevem como um morto-vivo franzino e coberto por faixas asquerosas. Amumu já inspirou tantos mitos, folclore e lendas contadas por muitas gerações, que já é impossível separar a verdade da ficção.
      <ion-col>
        <h1>_________________________</h1>
      </ion-col>
      <ion-col class="ion-text-center">
        <h1>HABILIDADES</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/spell/BandageToss.png">
          </ion-avatar>
        </i-col>
       <ion-label>Q - LANÇAR BANDAGENS</ion-label>
       <i-col>
         <ion-label>Amumu lança uma bandagem pegajosa em seu alvo e se lança em sua direção, causando dano e atordoamento.
        </ion-label>
       </i-col>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/spell/AuraofDespair.png">
          </ion-avatar>
        </i-col>
       <ion-label>W - DESESPERO</ion-label>
       <i-col>
         <ion-label>Tomados pela angústia, inimigos próximos perdem um percentual de sua Vida máxima a cada segundo e suas Maldições são restauradas.
        </ion-label>
       </i-col>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/spell/Tantrum.png">
          </ion-avatar>
        </i-col>
       <ion-label>E - CHILIQUE</ion-label>
       <i-col>
         <ion-label>Reduz permanentemente o Dano Físico que Amumu receberia. Ele pode liberar sua fúria, causando dano a inimigos próximos. Sempre que Amumu é atingido, o Tempo de Recarga de Chilique é reduzido em 0,5 segundo.
          </ion-label>
       </i-col>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/spell/CurseoftheSadMummy.png">
          </ion-avatar>
        </i-col>
       <ion-label>R - A MALDIÇÃO DA MÚMIA TRISTE</ion-label>
       <i-col>
         <ion-label>Amumu amarra unidades inimigas ao seu redor com ataduras, aplicando Maldição, causando dano e atordoando-as.
        </ion-label>
       </i-col>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/passive/Amumu_Passive.png">
          </ion-avatar>
        </i-col>
       <ion-label>P - TOQUE AMALDIÇOADO</ion-label>
       <i-col>
         <ion-label>Os ataques básicos de Amumu Amaldiçoam seus inimigos, fazendo com que recebam Dano Verdadeiro adicional de qualquer Dano Mágico causado a eles.
        </ion-label>
       </i-col>
      </ion-row>     
    </ion-card-content>
  </ion-card>
</ion-content>