<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <ion-text style="font-family: LoL Custom Font;">
        <h1>PERFIL</h1>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card>
    <ion-col *ngIf="invocador">
      <ion-text style="font-family: bold LoL Custom Font;">{{invocador.data[currentSearch].name}}</ion-text>
    </ion-col>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    </ion-card-content>
  </ion-card>
</ion-content>
