<ion-header>
  <ion-toolbar>
    <ion-title style="font-family: LoL Custom Font;">CBLoL Academy - ETAPA REGULAR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-title style="font-family: LoL Custom Font; margin-top: 10px;">CLASSIFICAÇÃO</ion-title>
<ion-card>
  <ion-card-header>
    <ion-row>
      <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">1º</h2>
      <img
        src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FLogoRensgaEsports.png">
      <ion-col>
        <ion-card-title>RENSGA Academy</ion-card-title>
        <ion-card-subtitle>0V - 0D</ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <ion-card-header>
    <ion-row>
      <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">1º</h2>
      <img
        src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FLogo_fundos_pretos.png">
      <ion-col>
        <ion-card-title>Flamento Esports Academy</ion-card-title>
        <ion-card-subtitle>0V - 0D</ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <ion-card-header>
    <ion-row>
      <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">1º</h2>
      <img
        src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FFURIA---black.png">
      <ion-col>
        <ion-card-title>FURIA Academy</ion-card-title>
        <ion-card-subtitle>0V - 0D</ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <ion-card-header>
    <ion-row>
      <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">1º</h2>
      <img
        src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FLogo-LOUD-Esports_Original.png">
      <ion-col>
        <ion-card-title>LOUD Academy</ion-card-title>
        <ion-card-subtitle>0V - 0D</ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <ion-card-header>
    <ion-row>
      <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">1º</h2>
      <img
        src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FINTZ_Logo_padrao_2020.png">
      <ion-col>
        <ion-card-title>INTZ Academy</ion-card-title>
        <ion-card-subtitle>0V - 0D</ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <ion-card-header>
    <ion-row>
      <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">1º</h2>
      <img
        src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FLOGO_BRANCO_TRANSP.png">
      <ion-col>
        <ion-card-title>paiN Gaming Academy</ion-card-title>
        <ion-card-subtitle>0V - 0D</ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <ion-card-header>
    <ion-row>
      <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">1º</h2>
      <img
        src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FLOGO_VORAX_LIBERTY.png">
      <ion-col>
        <ion-card-title>Vorax Liberty Academy</ion-card-title>
        <ion-card-subtitle>0V - 0D</ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <ion-card-header>
    <ion-row>
      <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">1º</h2>
      <img
        src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2Fkabum_150.png">
      <ion-col>
        <ion-card-title>KaBuM!! Esports Academy</ion-card-title>
        <ion-card-subtitle>0V - 0D</ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <ion-card-header>
    <ion-row>
      <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">1º</h2>
      <img
        src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FRED_fullcolor_darkbg.png">
      <ion-col>
        <ion-card-title>RED Kalunga Academy</ion-card-title>
        <ion-card-subtitle>0V - 0D</ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <ion-card-header>
    <ion-row>
      <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">1º</h2>
      <img
        src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FNETSHOESMINERS.png">
      <ion-col>
        <ion-card-title>Netshoes Miners Academy</ion-card-title>
        <ion-card-subtitle>0V - 0D</ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-card-header>

</ion-card>

<ion-title style="font-family: LoL Custom Font;">JOGOS</ion-title>

<ion-card style="text-align: center; border-radius: 100px;">
  <img
    src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FLogo_fundos_pretos.png">
  <img style="width: 40px; height: 40px; padding: 10px" src="/assets/icon/IconX.png">
  <img
    src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FLOGO_BRANCO_TRANSP.png">
</ion-card>

<ion-card style="text-align: center; border-radius: 100px;">
  <img src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2Fkabum_150.png">
  <img style="width: 40px; height: 40px; padding: 10px" src="/assets/icon/IconX.png">
  <img
    src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FLOGO_VORAX_LIBERTY.png">
</ion-card>

<ion-card style="text-align: center; border-radius: 100px;">
  <img
    src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FNETSHOESMINERS.png">
  <img style="width: 40px; height: 40px; padding: 10px" src="/assets/icon/IconX.png">
  <img
    src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FFURIA---black.png">
</ion-card>

<ion-card style="text-align: center; border-radius: 100px;">
  <img
    src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FLogoRensgaEsports.png">
  <img style="width: 40px; height: 40px; padding: 10px" src="/assets/icon/IconX.png">
  <img
    src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FINTZ_Logo_padrao_2020.png">
</ion-card>

<ion-card style="text-align: center; border-radius: 100px;">
  <img
    src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FLogo-LOUD-Esports_Original.png">
  <img style="width: 40px; height: 40px; padding: 10px" src="/assets/icon/IconX.png">
  <img
    src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FRED_fullcolor_darkbg.png">
</ion-card>

</ion-content>