<ion-header class="ion-no-border">
  <ion-toolbar  color="primary">
    <ion-title class="ion-text-center">
      <ion-text style="font-family: LoL Custom Font;">
        <h1>CAMPEÕES</h1>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page" class="no-scroll" color="secondary">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="isFavorite">
    <ion-col>
      <ion-title style="font-family: bold LoL Custom Font;">CAMPEÃO FAVORITO</ion-title>
    </ion-col>
    <ion-card class="favorite" routerLink="{{this.link}}">
      <img src="{{this.photo}}"/>
      <div class="ion-text-center">{{this.nome}}</div>
    </ion-card>
    </div>

    <ion-col>
      <ion-title style="font-family: bold LoL Custom Font;">ASSASSINOS</ion-title>
    </ion-col>
    <ion-slides [options]="slidecamp" class="ion-margin-top">
      <ion-slide>
          <ion-card routerLink="/home/champ/character/Akali">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/84.png">
          <div><span>AKALI</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Evelynn">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/28.png">
          <div><span>EVELYNN</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Fizz">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/105.png">
          <div><span>FIZZ</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Katarina">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/55.png">
          <div><span>KATARINA</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Khazix">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/121.png">
          <div><span>KHA'ZIX</span></div> 
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-col>
      <ion-title style="font-family: bold LoL Custom Font;">LUTADORES</ion-title>
    </ion-col>
    <ion-slides [options]="slidecamp" class="ion-margin-top">
      <ion-slide> 
        <ion-card routerLink="/home/champ/character/Aatrox">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/266.png">
          <div><span>AATROX</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Camille">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/164.png">
          <div><span>CAMILLE</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Darius">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/122.png">
          <div><span>DARIUS</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Diana">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/131.png">
          <div><span>DIANA</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Fiora">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/114.png">
          <div><span>FIORA</span></div> 
        </ion-card>
      </ion-slide>
    </ion-slides>
  
    <ion-col>
      <ion-title style="font-family: bold LoL Custom Font;">TANQUE</ion-title>
    </ion-col>
    <ion-slides [options]="slidecamp" class="ion-margin-top">
      <ion-slide>
          <ion-card routerLink="/home/champ/character/Amumu">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/32.png">
          <div><span>AMUMU</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Chogath">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/31.png">
          <div><span>CHO'GATH</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Maokai">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/57.png">
          <div><span>MAOKAI</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Malphite">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/54.png">
          <div><span>MALPHITE</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Ornn">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/516.png">
          <div><span>ORNN</span></div> 
        </ion-card>
      </ion-slide>
    </ion-slides>
  
    <ion-col>
      <ion-title style="font-family: bold LoL Custom Font;">MAGOS</ion-title>
    </ion-col>
    <ion-slides [options]="slidecamp" class="ion-margin-top">
      <ion-slide>
          <ion-card routerLink="/home/champ/character/Ahri">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/103.png">
          <div><span>AHRI</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Anivia">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/34.png">
          <div><span>ANIVIA</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Annie">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/1.png">
          <div><span>ANNIE</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Lux">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/99.png">
          <div><span>LUX</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Azir">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/268.png">
          <div><span>AZIR</span></div> 
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-col>
      <ion-title style="font-family: bold LoL Custom Font;">ATIRADOR</ion-title>
    </ion-col>
    <ion-slides [options]="slidecamp" class="ion-margin-top">
      <ion-slide>
          <ion-card routerLink="/home/champ/character/Aphelios">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/523.png">
          <div><span>APHELIOS</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Draven">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/119.png">
          <div><span>DRAVEN</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Jinx">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/222.png">
          <div><span>JINX</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Kaisa">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/145.png">
          <div><span>KAI'SA</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Lucian">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/236.png">
          <div><span>LUCIAN</span></div> 
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-col>
      <ion-title style="font-family: bold LoL Custom Font;">SUPORTE</ion-title>
    </ion-col>
    <ion-slides [options]="slidecamp" class="ion-margin-top">
      <ion-slide>
          <ion-card routerLink="/home/champ/character/Alistar">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/12.png">
          <div><span>ALISTAR</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Braum">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/201.png">
          <div><span>BRAUM</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Lulu">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/117.png">
          <div><span>LULU</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Senna">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/235.png">
          <div><span>SENNA</span></div> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/home/champ/character/Seraphine">
          <img src="//lolg-cdn.porofessor.gg/img/champion-icons/11.15/64/147.png">
          <div><span>SERAPHINE</span></div> 
        </ion-card>
      </ion-slide>
    </ion-slides>
</ion-content>
