<ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div>
    <ion-col>
      <ion-title>LUTADORES</ion-title>
    </ion-col>
    <ion-slides [options]="lutador" class="ion-margin-top">
      <ion-slide routerLink="/home/champ/aatrox">
        <ion-card color="primary">
          <img src="assets/icon/campeoesLol/aatroxLutador.jpg">
          <span>AATROX</span>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card color="primary">
          <img src="assets/icon/campeoesLol/camilleLutador.jpg">
          <span>CAMILLE</span>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card color="primary">
          <img src="assets/icon/campeoesLol/dianaLutador.jpg">
          <span>DIANNA</span>
        </ion-card>
      </ion-slide>
    </ion-slides>
  

  
    <ion-col>
      <ion-title>ASSASINOS</ion-title>
    </ion-col>
    <ion-slides [options]="lutador" class="ion-margin-top">
      <ion-slide>
        <ion-card color="primary">
          <img src="assets/icon/campeoesLol/ekkoAssasign.jpg">
          <span>EKKO</span>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card color="primary">
          <img src="assets/icon/campeoesLol/akaliAssasign.jpg">
          <span>AKALI</span>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card color="primary">
          <img src="assets/icon/campeoesLol/ahriAssign.jpg">
          <span>AHRI</span>
        </ion-card>
      </ion-slide>
    </ion-slides>
  

  <ion-col>
    <ion-title>MAGOS</ion-title>
  </ion-col>
  <ion-slides [options]="lutador" class="ion-margin-top">
    <ion-slide>
      <ion-card color="primary">
        <img src="assets/icon/campeoesLol/amumuMago.jpg">
        <span>AMUMU</span>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card color="primary">
        <img src="assets/icon/campeoesLol/orianaMago.jpg">
        <span>ORIANA</span>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card color="primary"> 
        <img src="assets/icon/campeoesLol/jannaMago.jpg">
        <span>JANNA</span>
      </ion-card>
    </ion-slide>
  </ion-slides>
  </div>

</ion-content>