ion-col{    
    ion-title{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        text-align: center;
    }
}

ion-slide{
    width: 100px;
    ion-card{
        color: #262626;
        border: 5px inset rgb(253, 226, 159);
        box-shadow: black;
        padding: 10px;
        margin: 0px;
        margin-left: 0px;
        span{
            color:white;
            font-family: monospace;
        }
        img{
            border: 2px solid grey;
            object-fit: cover;
        }   
    }
}