<ion-content color="primary" fullscreen>
  <ion-card>
    <img src="assets/icon/campeoesInfo/aatrox.jpg" />
    <ion-card-header>
      <ion-card-title>AATrOX</ion-card-title>
      <ion-card-subtitle>Descrição</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Antes defensores honrados de Shurima contra o temido Vazio, Aatrox e sua raça no fim se tornaram uma ameaça ainda maior para Runeterra e a única coisa capaz de derrotá-los foi um tipo de feitiçaria mortal e traiçoeira. Mas após séculos de encarceramento, Aatrox foi o primeiro a encontrar a liberdade novamente, corrompendo e transformando qualquer tolo que tentasse empunhar a arma mágica que continha sua essência. Agora, com um corpo roubado, ele vaga por Runeterra transfigurado, em uma versão bizarra da sua forma anterior, buscando uma vingança apocalíptica.
    </ion-card-content>
  </ion-card>
</ion-content>
