<ion-header>
  <ion-toolbar color="primary">
      <ion-button slot="end" size="default" fill="clear" routerLink="/home/champ">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
      <ion-label style="font-family: bold LoL Custom Font;" class="ion-text-center">AATROX</ion-label>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <ion-card>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg">
    <ion-card-header>
    </ion-card-header>
    <ion-card-content style="font-family: bold LoL Custom Font;" color="secondary">
      Antes defensores honrados de Shurima contra o temido Vazio, Aatrox e sua raça no fim se tornaram uma ameaça ainda
      maior para Runeterra e a única coisa capaz de derrotá-los foi um tipo de feitiçaria mortal e traiçoeira. Mas após
      séculos de encarceramento, Aatrox foi o primeiro a encontrar a liberdade novamente, corrompendo e transformando
      qualquer tolo que tentasse empunhar a arma mágica que continha sua essência. Agora, com um corpo roubado, ele vaga
      por Runeterra transfigurado, em uma versão bizarra da sua forma anterior, buscando uma vingança apocalíptica.
      <ion-col>
        <h1>_________________________</h1>
      </ion-col>
      <ion-col class="ion-text-center">
        <h1>HABILIDADES</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.8.1/img/spell/AatroxQ.png">
          </ion-avatar>
        </i-col>
       <ion-label>A ESPADA DE DARKIN</ion-label>
       <i-col>
         <ion-label>Aatrox bate sua espada no chão, causando Dano Físico. Ele pode bater até três vezes, cada vez em uma área de ação diferente.</ion-label>
       </i-col>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.8.1/img/spell/AatroxW.png">
          </ion-avatar>
        </i-col>
       <ion-label>CORRENTES INFERNAIS</ion-label>
       <i-col>
         <ion-label>Aatrox bate no chão, causando dano ao primeiro inimigo atingido. Campeões e Monstros Grandes precisam sair da área de impacto rapidamente ou serão arrastados para o centro e receberão dano novamente.</ion-label>
       </i-col>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.8.1/img/spell/AatroxE.png">
          </ion-avatar>
        </i-col>
       <ion-label>AVANÇO UMBRAL</ion-label>
       <i-col>
         <ion-label>Passivamente, Aatrox se cura quando causa dano a Campeões inimigos. Quando ativado, ele avança em uma direção.
          Aatrox libera sua forma demoníaca, aterrorizando tropas inimigas próximas, ganhando Dano de Ataque, cura aumentada e Velocidade de Movimento. Se ele conseguir um abate, este efeito é estendido.
          </ion-label>
       </i-col>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.8.1/img/spell/AatroxR.png">
          </ion-avatar>
        </i-col>
       <ion-label>ANIQUILADOR DE MUNDOS</ion-label>
       <i-col>
         <ion-label>Aatrox libera sua forma demoníaca, aterrorizando tropas inimigas próximas, ganhando Dano de Ataque, cura aumentada e Velocidade de Movimento. Se ele conseguir um abate, este efeito é estendido.</ion-label>
       </i-col>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.8.1/img/passive/Aatrox_Passive.png">
          </ion-avatar>
        </i-col>
       <ion-label>POSTURA DO ARAUTO DA MORTE</ion-label>
       <i-col>
         <ion-label>Periodicamente, o próximo ataque básico de Aatrox causa Dano Físico adicional e o cura com base na Vida máxima do alvo.</ion-label>
       </i-col>
      </ion-row>     
    </ion-card-content>
  </ion-card>
</ion-content>