<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="3">
        <ion-button size="default" fill="clear" (click)="favorite=!favorite" (click)="addFavorite()">
          <ion-icon slot="icon-only" [name]="favorite? 'star' : 'star-outline'" color="warning"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-text style="font-family: bold LoL Custom Font;">AATROX</ion-text>
      </ion-col>
    </ion-row>
        <ion-button slot="end" size="default" fill="clear" routerLink="/home/champ">
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <ion-card>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg">
    <ion-card-header>
    </ion-card-header>
    <ion-card-content style="font-family: bold LoL Custom Font;" color="secondary">
      {{character.data.Aatrox.lore}}
      <ion-col>
        <h1>_________________________</h1>
      </ion-col>
      <ion-col class="ion-text-center">
        <h1>HABILIDADES</h1>
      </ion-col>
 
      <ion-row>
        <ion-avatar>
          <img src="https://ddragon.leagueoflegends.com/cdn/11.8.1/img/spell/AatroxQ.png">
        </ion-avatar>
        <ion-label>Q - {{character.data.Aatrox.spells[0].name}}</ion-label>
        <ion-label>{{character.data.Aatrox.spells[0].description}}</ion-label>
      </ion-row>
 
      <ion-col>
        <h1>_________________________</h1>
      </ion-col>
 
      <ion-row>
        <ion-avatar>
          <img src="https://ddragon.leagueoflegends.com/cdn/11.8.1/img/spell/AatroxW.png">
        </ion-avatar>
          <ion-label>W - {{character.data.Aatrox.spells[1].name}}</ion-label>
          <ion-label>{{character.data.Aatrox.spells[1].description}}</ion-label>
        </ion-row>
 
      <ion-col>
        <h1>_________________________</h1>
      </ion-col>
 
      <ion-row>
        <ion-avatar>
          <img src="https://ddragon.leagueoflegends.com/cdn/11.8.1/img/spell/AatroxE.png">
        </ion-avatar>
        <ion-label>E - {{character.data.Aatrox.spells[2].name}}</ion-label>
        <ion-label>{{character.data.Aatrox.spells[2].description}}</ion-label>
      </ion-row>
 
      <ion-col>
        <h1>_________________________</h1>
      </ion-col>
 
      <ion-row>
        <ion-avatar>
          <img src="https://ddragon.leagueoflegends.com/cdn/11.8.1/img/spell/AatroxR.png">
        </ion-avatar>
        <ion-label>R - {{character.data.Aatrox.spells[3].name}}</ion-label>
        <ion-label>{{character.data.Aatrox.spells[3].description}}</ion-label>
      </ion-row>
 
      <ion-col>
        <h1>_________________________</h1>
      </ion-col>
 
      <ion-row>
          <ion-avatar>
            <img src="https://ddragon.leagueoflegends.com/cdn/11.8.1/img/passive/Aatrox_Passive.png">
          </ion-avatar>
        <ion-label>Passiva - {{character.data.Aatrox.passive.name}}</ion-label>
         <ion-label>{{character.data.Aatrox.passive.description}}</ion-label>
      </ion-row>     
    </ion-card-content>
  </ion-card>
</ion-content>