ion-header{
    ion-toolbar{
        height: 45px;
        
        ion-button{
            color: #ffffff;
        }
        ion-label{
            margin-left: 60px;
            margin-top: 20px;
            font-size: 30px;
            
        }
    }

}


ion-card{
    --background : #222222;
    border: 5px inset rgb(253, 226, 159);
    box-shadow: black;
    padding: 5px;
    margin: 1px;

    img{
        border: inset rgb(253, 226, 159);
        object-fit: cover;
    }
    ion-card-header{
        ion-card-title{
            color:#ffffff;
        }
    }
    ion-card-content{
        color: #ffffff; 
    }   
    
    ion-avatar{
        img{
            max-width: 40px;
            height: 40px;
        }
    }
    ion-label{
        margin-top: 10px;   
        
    }
    ion-row{
        margin-top: 10px;
    }
    
    
}
