<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="3">
        <ion-button size="default" fill="clear" (click)="onClick(favorite=!favorite)" (click)="onClick(favChamps.push(champhere))">
          <ion-icon slot="icon-only" [name]="favorite? 'star' : 'star-outline'" color="warning"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-text style="font-family: bold LoL Custom Font;">ALISTAR</ion-text>
      </ion-col>
    </ion-row>
        <ion-button slot="end" size="default" fill="clear" routerLink="/home/champ">
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <ion-card>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Alistar_0.jpg">
    <ion-card-header>
    </ion-card-header>
    <ion-card-content style="font-family: bold LoL Custom Font;" color="secondary">
      Um poderoso guerreiro com uma temível reputação, Alistar busca vingança por seu clã, morto pelas mãos do império de Noxus. Apesar de ter sido escravizado e forçado a uma vida de gladiador, sua vontade indestrutível o impediu de se tornar uma fera de verdade. Agora, liberto das correntes dos seus antigos mestres, ele luta pelos oprimidos e desfavorecidos, sua fúria uma arma tão poderosa quanto seus chifres, cascos e punhos.
      <ion-col>
        <h1>_________________________</h1>
      </ion-col>
      <ion-col class="ion-text-center">
        <h1>HABILIDADES</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/spell/Pulverize.png">
          </ion-avatar>
        </i-col>
       <ion-label>Q - PULVERIZAR</ion-label>
       <i-col>
         <ion-label>Alistar golpeia o chão, causando dano a inimigos próximos e arremessando-os ao ar.</ion-label>
       </i-col>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/spell/Headbutt.png">
          </ion-avatar>
        </i-col>
       <ion-label>W - CABEÇADA</ion-label>
       <i-col>
         <ion-label>Alistar atinge o inimigo com sua cabeça, causando dano e jogando o alvo para trás.</ion-label>
       </i-col>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/spell/AlistarE.png">
          </ion-avatar>
        </i-col>
       <ion-label>E - ATROPELAR</ion-label>
       <i-col>
         <ion-label>Alistar atropela unidades inimigas próximas, ignorando colisão com unidades e recebendo acúmulos caso cause dano a um Campeão inimigo. O próximo ataque básico com o máximo de acúmulos contra um Campeão inimigo causa Dano Mágico adicional e o atordoa.
          </ion-label>
       </i-col>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/spell/FerociousHowl.png">
          </ion-avatar>
        </i-col>
       <ion-label>R - VONTADE INDESTRUTÍVEL</ion-label>
       <i-col>
         <ion-label>Alistar solta um urro selvagem, removendo todos os efeitos de Controle de Grupo de si mesmo, além de reduzir o Dano Físico e Mágico enquanto durar o efeito.</ion-label>
       </i-col>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/passive/Alistar_E.png">
          </ion-avatar>
        </i-col>
       <ion-label>P - URRO TRIUNFANTE</ion-label>
       <i-col>
         <ion-label>Alistar carrega seu urro ao atordoar, deslocar a posição de Campeões inimigos ou quando inimigos próximos morrem. Quando estiver com o máximo de cargas, ele cura a si mesmo e aos Campeões aliados próximos.</ion-label>
       </i-col>
      </ion-row>     
    </ion-card-content>
  </ion-card>
</ion-content>