<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <ion-text style="font-family: LoL Custom Font;">
        <h1>ACADEMY OF LEGENDS</h1>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar search-icon="caret-forward-outline" 
    [(ngModel)]="currentSearch" placeholder="Buscar Invocador"
  ></ion-searchbar>

  <ion-button slot="end" [routerLink]="['/home/profile/', currentSearch]"> 
    <ion-icon name="search-outline"></ion-icon>
  </ion-button>
</ion-toolbar>

<ion-content class="ion-padding" color="secondary">
  <img class="logo" src="/assets/icon/logo.png">
</ion-content>
