ion-toolbar{
  ion-searchbar{
    --background: #ffffff;
    --border-radius: 12px;  
    --clear-button-color: rgb(247, 162, 162);
    --icon-color: grey;
    --color: black;
    --placeholder-color: black;
    text-emphasis-color: black;
  }
  ion-button{
    margin-right: 10px;
  }
}

ion-grid{
  ion-row{
    ion-col{
      img{
        padding-top: 70px;
      }
    }
  }
}
  