<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="3">
        <ion-button size="default" fill="clear" (click)="favorite=!favorite" (click)="addFavorite()">
          <ion-icon slot="icon-only" [name]="favorite? 'star' : 'star-outline'" color="warning"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-text style="font-family: bold LoL Custom Font;">AKALI</ion-text>
      </ion-col>
    </ion-row>
        <ion-button slot="end" size="default" fill="clear" routerLink="/home/champ">
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <ion-card>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Akali_0.jpg">
    <ion-card-header>
    </ion-card-header>
    <ion-card-content style="font-family: bold LoL Custom Font;" color="secondary">
      Abandonando a Ordem Kinkou e seu título de Punho das Sombras, Akali agora ataca sozinha, pronta para ser a arma mortal de que seu povo precisa. Embora mantenha tudo o que aprendeu com seu mestre Shen, ela se comprometeu a defender Ionia de seus inimigos, um assassinato de cada vez. Akali pode atacar em silêncio, mas sua mensagem será ouvida em voz alta e clara: temam a assassina sem mestre.
      <ion-col>
        <h1>_________________________</h1>
      </ion-col>
      <ion-col class="ion-text-center">
        <h1>HABILIDADES</h1>
      </ion-col>

      <ion-row>
        <ion-avatar>
          <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/spell/AkaliQ.png">
        </ion-avatar>
       <ion-label>Q - GOLPE DOS CINCO PONTOS</ion-label>
         <ion-label>Akali atira cinco kunais, causando redução de velocidade e dano com base em seu Dano de Ataque adicional e Poder de Habilidade.</ion-label>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
          <ion-avatar>
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/spell/AkaliW.png">
          </ion-avatar>
       <ion-label>W - PROTEÇÃO DO CREPÚSCULO</ion-label>
         <ion-label>Akali solta uma proteção de fumaça e recebe Velocidade de Movimento por um curto período. Enquanto estiver dentro da proteção, Akali se torna invisível e não pode ser selecionada como alvo de habilidades e ataques inimigos. Atacar ou usar habilidades fará com que ela seja revelada brevemente.</ion-label>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
          <ion-avatar>
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/spell/AkaliE.png">
          </ion-avatar>
       <ion-label>E - INVESTIDA SHURIKEN</ion-label>
         <ion-label>Salta para trás e atira uma shuriken para a frente, causando Dano Mágico. O primeiro inimigo ou nuvem de fumaça que forem atingidos são marcados. Conjure novamente para avançar ao alvo marcado, causando dano adicional.</ion-label>
      </ion-row>
      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
          <ion-avatar>
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/spell/AkaliR.png">
          </ion-avatar>
       <ion-label>R - EXECUÇÃO PERFEITA</ion-label>
         <ion-label>Akali salta em uma direção, causando dano aos inimigos que atingir. Conjurar novamente: Akali avança em uma direção, executando todos os inimigos que atingir.</ion-label>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/passive/Akali_P.png">
          </ion-avatar>
       <ion-label>P - MARCA DO ASSASSINO</ion-label>
         <ion-label>Causar dano com habilidades em Campeões cria um círculo de energia em volta deles. Sair desse círculo fortalece o próximo ataque básico de Akali com alcance e dano adicionais.</ion-label>
      </ion-row>     
    </ion-card-content>
  </ion-card>
</ion-content>