<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="3">
        <ion-button size="default" fill="clear" (click)="onClick(favorite=!favorite)" (click)="onClick(favChamps.push(champhere))">
          <ion-icon slot="icon-only" [name]="favorite? 'star' : 'star-outline'" color="warning"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-text style="font-family: bold LoL Custom Font;">APHELIOS</ion-text>
      </ion-col>
    </ion-row>
        <ion-button slot="end" size="default" fill="clear" routerLink="/home/champ">
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <ion-card>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aphelios_0.jpg">
    <ion-card-header>
    </ion-card-header>
    <ion-card-content style="font-family: bold LoL Custom Font;" color="secondary">
      Emergindo da sombra do luar com suas armas em mãos, Aphelios abate os inimigos de sua fé em absoluto silêncio, comunicando-se apenas pela destreza de sua mira e o disparo de cada arma. Embora viva sob o efeito de um veneno que o emudeceu, ele é guiado por sua irmã Alune, que habita um santuário distante de onde invoca um arsenal de armas de pedra da lua para ajudá-lo. Enquanto a Lua brilhar no céu, Aphelios nunca estará sozinho.
      <ion-col>
        <h1>_________________________</h1>
      </ion-col>
      <ion-col class="ion-text-center">
        <h1>HABILIDADES</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/spell/ApheliosQ_ClientTooltipWrapper.png">
          </ion-avatar>
        </i-col>
       <ion-label>Q - HABILIDADES DA ARMA</ion-label>
       <i-col>
         <ion-label>Aphelios tem 5 habilidades diferentes que são ativadas com base em sua arma principal: Calibrum (Rifle): Tiro de longo alcance que marca seu alvo para um disparo de longo alcance subsequente. Severum (Pistola-Foice): Corre rapidamente enquanto ataca inimigos próximos com ambas as armas. Gravitum (Canhão): Enraíza todos os inimigos afetados pela redução de velocidade desta arma. Infernum (Lança-chamas): Explode inimigos em área de cone e os ataca com sua arma secundária. Crescendum (Chakram): Posiciona uma atalaia que dispara com sua arma secundária.</ion-label>
       </i-col>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/spell/ApheliosW.png">
          </ion-avatar>
        </i-col>
       <ion-label>W - FASE</ion-label>
       <i-col>
         <ion-label>Aphelios troca a arma principal por sua arma secundária, substituindo seu ataque básico e a habilidade ativada.</ion-label>
       </i-col>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/spell/ApheliosE_ClientTooltipWrapper.png">
          </ion-avatar>
        </i-col>
       <ion-label>E - SIST. ORDENAÇÃO DE ARMAS</ion-label>
       <i-col>
         <ion-label>Aphelios não tem uma terceira habilidade. Este espaço mostra a próxima arma que Alune concederá a ele. A ordem das armas é fixa, mas pode variar ao longo da partida. Quando uma arma estiver sem munição, ela volta para o fim da sequência.
          </ion-label>
       </i-col>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/spell/ApheliosR.png">
          </ion-avatar>
        </i-col>
       <ion-label>R - VIGÍLIA DO PLENILÚNIO</ion-label>
       <i-col>
         <ion-label>Dispara uma rajada concentrada de luar que explode ao atingir Campeões inimigos. Aplica o efeito único da arma principal de Aphelios.</ion-label>
       </i-col>
      </ion-row>

      <ion-col>
        <h1>_________________________</h1>
      </ion-col>

      <ion-row>
        <i-col>
          <ion-avatar slot="start">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.10.1/img/passive/ApheliosP.png">
          </ion-avatar>
        </i-col>
       <ion-label>P - O ASSASSINO E A PROFETISA</ion-label>
       <i-col>
         <ion-label>Aphelios empunha 5 Armas Lunari criadas por sua irmã, Alune. Ele tem acesso a duas ao mesmo tempo: uma principal e uma secundária. Cada arma tem um ataque básico e uma Habilidade únicos. Ataques e habilidades consomem uma munição da arma. Quando fica sem munição, Aphelios descarta a arma e Alune invoca a próxima.</ion-label>
       </i-col>
      </ion-row>     
    </ion-card-content>
  </ion-card>
</ion-content>