<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar  color="primary">
      <ion-title class="ion-text-center">
        <ion-text style="font-family: LoL Custom Font;">
          <h1>eSports</h1>
        </ion-text>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-slides class="ion-margin-top">
    <ion-slide> 
      <ion-card>
        <img style="width: 80px; height: 80px; padding: 10px" src="/assets/icon/IconTwitch.png">
        <img style="width: 80px; height: 80px; padding: 10px" src="/assets/icon/IconYoutube.png">
        <img style="width: 80px; height: 80px; padding: 10px" src="/assets/icon/IconNimoTV.png">
      </ion-card>
    </ion-slide>
  </ion-slides>

  <h3 style="text-align: center; font-family: LoL Custom Font;">REGIÕES & EVENTOS</h3>
        <ion-card style="border-radius: 100px;" routerLink="/home/cblol/principal">
            <ion-row>
              <img src="/assets/icon/cblol-logo.png">
              <ion-col>
                <ion-card-title style="font-style: italic;">CBLOL</ion-card-title>
                <ion-card-subtitle>BRASIL</ion-card-subtitle>
              </ion-col>
            </ion-row>
        </ion-card>

        <ion-card style="border-radius: 100px;" routerLink="/home/cblol/academy">
          <ion-row>
            <img src="/assets/icon/cblol-acad-logo.png">
            <ion-col>
              <ion-card-title style="font-style: italic;">CBLOL Academy</ion-card-title>
              <ion-card-subtitle>BRASIL</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-card>

          <ion-card style="border-radius: 100px;" routerLink="/home/cblol/mundial">
            <ion-row>
              <img src="/assets/icon/mundial-logo.png">
              <ion-col>
                <ion-card-title style="font-style: italic;">MUNDIAL</ion-card-title>
                <ion-card-subtitle>INTERNACIONAL</ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-card>
          
          <ion-card style="border-radius: 100px;" routerLink="/home/cblol/msi">
            <ion-row>
              <img src="/assets/icon/msi-logo.png">
              <ion-col>
                <ion-card-title style="font-style: italic;">MSI</ion-card-title>
                <ion-card-subtitle>INTERNACIONAL</ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-card>
          
          <ion-card style="border-radius: 100px;" routerLink="/home/cblol/allstars">
            <ion-row>
              <img src="/assets/icon/allstars-logo.png">
              <ion-col>
                <ion-card-title style="font-style: italic;">EVENTO ALL-STARS</ion-card-title>
                <ion-card-subtitle>INTERNACIONAL</ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-card>