<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar  color="primary">
      <ion-title class="ion-text-center">
        <ion-text style="font-family: LoL Custom Font;">
          <h1>CBLOL</h1>
        </ion-text>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-slides [options]="lutador" class="ion-margin-top">
    <ion-slide> 
      <ion-card>
        <img style="width: 80px; height: 80px; padding: 10px" src="/assets/icon/IconTwitch.png">
        <img style="width: 80px; height: 80px; padding: 10px" src="/assets/icon/IconYoutube.png">
        <img style="width: 80px; height: 80px; padding: 10px" src="/assets/icon/IconNimoTV.png">
      </ion-card>
    </ion-slide>
  </ion-slides>

<ion-card style="text-align: center;">
  <IonRow>
    <IonCol>
      <img src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FLOGO_BRANCO_TRANSP.png">
    </IonCol>
    <ion-icon style="width: 40px; height: 40px; padding: 10px" name="close-outline"></ion-icon>
    <IonCol>
      <img src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FVorax-Logotipo-vertical-letreiro-branco.png">
    </IonCol>
  </IonRow>
</ion-card>

<ion-card style="text-align: center;">
  <IonRow>
    <IonCol>
      <img src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FVorax-Logotipo-vertical-letreiro-branco.png">
    </IonCol>
    <ion-icon style="width: 40px; height: 40px; padding: 10px" name="close-outline"></ion-icon>
    <IonCol>
      <img src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FRED_fullcolor_darkbg.png">
    </IonCol>
  </IonRow>
</ion-card>

<ion-card style="text-align: center;">
<IonRow>
  <IonCol>
    <img src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FLogo_fundos_pretos.png">
  </IonCol>
  <ion-icon style="width: 40px; height: 40px; padding: 10px" name="close-outline"></ion-icon>
  <IonCol>
    <img src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FLOGO_BRANCO_TRANSP.png">
  </IonCol>
</IonRow>
</ion-card>

<ion-card style="text-align: center;">
  <IonRow>
    <IonCol>
      <img src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FRED_fullcolor_darkbg.png">
    </IonCol>
    <ion-icon style="width: 40px; height: 40px; padding: 10px" name="close-outline"></ion-icon>
    <IonCol>
      <img src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FKBM-FullonDark-5.png">
    </IonCol>
  </IonRow>
</ion-card>

<ion-card style="text-align: center;">
  <IonRow>
    <IonCol>
      <img src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FLogo-LOUD-Esports_Original.png">
    </IonCol>
    <ion-icon style="width: 40px; height: 40px; padding: 10px" name="close-outline"></ion-icon>
    <IonCol>
      <img src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FLOGO_BRANCO_TRANSP.png">
    </IonCol>
  </IonRow>
</ion-card>