<ion-header>
  <ion-toolbar>
    <ion-title style="font-family: LoL Custom Font;">MSI - KNOCKOUTS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-title style="font-family: LoL Custom Font; text-align: center;">FINAL</ion-title>

    <ion-card style="text-align: center; border-radius: 100px;">
      <img src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2F1592591992059_RoyalNeverGiveUpRNG-01-FullonDark.png">
      <img style="width: 40px; height: 40px; padding: 10px" src="/assets/icon/IconX.png">
      <img src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FDK-FullonDark.png">
    </ion-card>

  <ion-title style="font-family: LoL Custom Font; text-align: center;">SEMI-FINAL</ion-title>
  
  <ion-card style="text-align: center; border-radius: 100px;">
    <img
      src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2FDK-FullonDark.png">
    <img style="width: 40px; height: 40px; padding: 10px" src="/assets/icon/IconX.png">
    <img
      src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2F1592591395339_MadLionsMAD-01-FullonDark.png">
  </ion-card>
  
  <ion-card style="text-align: center; border-radius: 100px;">
    <img src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2F1592591992059_RoyalNeverGiveUpRNG-01-FullonDark.png">
    <img style="width: 40px; height: 40px; padding: 10px" src="/assets/icon/IconX.png">
    <img
      src="https://am-a.akamaihd.net/image?resize=70:&f=http%3A%2F%2Fstatic.lolesports.com%2Fteams%2F1600106840359_TalonPSG-01-FullonDark1.png">
  </ion-card>
  
  </ion-content>