<ion-header class="ion-no-border">
  <ion-toolbar  color="primary">
    <ion-title class="ion-text-center">
      <span>ACADEMY OF LEGENDS</span>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-label>Inicio</ion-label>
      <ion-icon name="home-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="champ">
      <ion-label>Champ</ion-label>
      <ion-icon name="medal-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="atualizacao">
      <ion-label>Att</ion-label>
      <ion-icon name="documents-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cblol">
      <ion-label>CbLol</ion-label>
      <ion-icon name="logo-twitch"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>