<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-label style="font-family: bold LoL Custom Font;">Inicio</ion-label>
      <ion-icon name="home-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="champ">
      <ion-label style="font-family: bold LoL Custom Font;">Champeões</ion-label>.
      <ion-icon src="assets/icon/md-Icon-Camp.svg"></ion-icon>
      <ion-icon slot="icon-only" src="assets/IconCamp.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="atualizacao">
      <ion-label style="font-family: bold LoL Custom Font;">Atualizações</ion-label>
      <ion-icon name="document-text-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cblol">
      <ion-label style="font-family: bold LoL Custom Font;">CBLoL</ion-label>
      <ion-icon name="logo-twitch"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>