<ion-header class="ion-no-border">
  <ion-toolbar  color="primary">
    <ion-title class="ion-text-center">
      <ion-text style="font-family: LoL Custom Font;">
        <h1>PATCH NOTE</h1>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" >

  <div>
    <ion-col>
      <ion-title style="font-family: bold LoL Custom Font;">NOTAS DE ATUALIZAÇÃO 11.8</ion-title>
    </ion-col>

    <ion-col>
      <ion-title style="font-family: bold LoL Custom Font;">CAMPEÕES</ion-title>
    </ion-col>

    <ion-card>
      <ion-card-header>
        <ion-row>
        <img src="//lolg-cdn.porofessor.gg/img/champion-icons/12.11/64/887.png"> 
        <ion-col>
          <ion-badge>NOVA</ion-badge>
          <ion-card-title>GWEN</ion-card-title> 
          <ion-card-subtitle>A Costureira Encantada</ion-card-subtitle>
        </ion-col>
        </ion-row>
        </ion-card-header>
        <ion-card-content>
        "Gwen começará a cortar, recordar e costurar na 11.8 em 15 de abril."
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-row>
        <img src="//lolg-cdn.porofessor.gg/img/champion-icons/12.11/64/1.png"> 
        <ion-col>
          <ion-card-title>ANNIE</ion-card-title> 
          <ion-card-subtitle>Custo do W aumentado nos primeiros níveis.</ion-card-subtitle>
        </ion-col>
        </ion-row>
        </ion-card-header>
        <ion-card-content>
        "Ultimamente, Annie anda carbonizando seus inimigos. Com um aumento no custo do W, esperamos que ela seja mais cautelosa na hora de decidir queimar tropas ou Campeões inimigos."
      </ion-card-content>
      <ion-row> 
        <img style="width: 50px; height: 50px; padding: 10px ;" src="//am-a.akamaihd.net/image?f=http://ddragon.leagueoflegends.com/cdn/11.7.1/img/spell/AnnieW.png"> 
        <ion-col>
         <ion-card-title style="font-size: 15px;">W – INCINERAR</ion-card-title> 
         <ion-card-subtitle style="font-size: 10px;">CUSTO 70/80/90/100/110 de Mana ⇒ 90/95/100/105/110 de Mana</ion-card-subtitle>
       </ion-col>
     </ion-row>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-row>
        <img style="width: 64px; height: 64px; margin-top: 5px;" src="//lolg-cdn.porofessor.gg/img/champion-icons/12.11/64/523.png"> 
        <ion-col>
          <ion-card-title>APHELIOS</ion-card-title> 
          <ion-card-subtitle>Letalidade da Passiva aumentada. Efeitos da arma principal do R fortalecidos.</ion-card-subtitle>
        </ion-col>
        </ion-row>
        </ion-card-header>
        <ion-card-content>
        "Aphelios anda meio pálido desde que enfraquecemos suas interações com o Mata-Cráquens durante a 11.2. Como ele ficou para trás em relação aos outros atiradores que contam com escalamento, aumentamos a força de sua Letalidade ao subir de nível (algo que historicamente deixava a desejar) e dos efeitos das armas durante a ultimate. Agora, a lua é o limite!"
      </ion-card-content>
      <ion-row> 
        <img style="width: 50px; height: 50px; padding: 10px ;" src="//am-a.akamaihd.net/image?f=http://ddragon.leagueoflegends.com/cdn/11.7.1/img/passive/ApheliosP.png"> 
        <ion-col>
         <ion-card-title style="font-size: 15px;">PASSIVA – O ASSASSINO E A PROFETISA</ion-card-title> 
         <ion-card-subtitle style="font-size: 10px;">LETALIDADE 3/6/9/12/15/18 ⇒ 3,5/7/10,5/14/17,5/21</ion-card-subtitle>
       </ion-col>
     </ion-row>
     <ion-row> 
      <img style="width: 50px; height: 50px; padding: 10px ;" src="//am-a.akamaihd.net/image?f=http://ddragon.leagueoflegends.com/cdn/11.7.1/img/spell/ApheliosR.png"> 
      <ion-col>
       <ion-card-title style="font-size: 15px;">R – VIGÍLIA DO PLENILÚNIO</ion-card-title> 
       <ion-card-subtitle style="font-size: 10px;">DANO POR MARCA DE CALIBRUM 40/70/100 ⇒ 50/80/110</ion-card-subtitle>
       <ion-card-subtitle style="font-size: 10px;">CURA DE SEVERUM 250/375/500 ⇒ 275/400/525</ion-card-subtitle>
       <ion-card-subtitle style="font-size: 10px;">DURAÇÃO DO ENRAIZAMENTO DE GRAVITUM 1,25s ⇒ 1,35s</ion-card-subtitle>
       <ion-card-subtitle style="font-size: 10px;">DANO DE DISPERSÃO DE INFERNUM 85% do dano inicial ⇒ 90% do dano inicial</ion-card-subtitle>
       <ion-card-subtitle style="font-size: 10px;">RESTITUIÇÃO DE CHAKRANS DE CRESCENDUM 4 chakrans adicionais (5 no total) ⇒ 5 chakrans adicionais (6 no total)</ion-card-subtitle>
     </ion-col>
   </ion-row>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-row>
        <img src="//lolg-cdn.porofessor.gg/img/champion-icons/12.11/64/61.png"> 
        <ion-col>
          <ion-card-title>ORIANNA</ion-card-title> 
          <ion-card-subtitle>Resistências adicionais do E reduzidas nos primeiros níveis.</ion-card-subtitle>
        </ion-col>
        </ion-row>
        </ion-card-header>
        <ion-card-content>
        "No cenário profissional, nossa Donzela Mecânica se tornou uma das peças principais da rota do meio. Fazendo uso de uma fase de rotas segura e muito poder nos confrontos de equipe no meio de jogo, ela é uma fonte confiável de utilidade e dano que não oferece muitos riscos. Para compensar todas as vantagens, reduzimos sua durabilidade nas primeiras fases das partidas."
      </ion-card-content>
      <ion-row> 
        <img style="width: 50px; height: 50px; padding: 10px ;" src="//am-a.akamaihd.net/image?f=http://ddragon.leagueoflegends.com/cdn/11.7.1/img/spell/OrianaRedactCommand.png"> 
        <ion-col>
         <ion-card-title style="font-size: 20px;">E – COMANDO: PROTEGER</ion-card-title> 
         <ion-card-subtitle style="font-size: 10px;">RESISTÊNCIAS ADICIONAIS 10/15/20/25/30 de Armadura e Resistência Mágica ⇒ 6/12/18/24/30 de Armadura e Resistência Mágica</ion-card-subtitle>
       </ion-col>
     </ion-row>
    </ion-card>

    
    <ion-col>
      <ion-title style="font-family: bold LoL Custom Font;">ITENS</ion-title>
    </ion-col>

    <ion-card>
      <ion-card-header>
        <ion-row>
        <img style="width: 80px; height: 80px; padding: 10px ;"  src="//am-a.akamaihd.net/image?f=http://ddragon.leagueoflegends.com/cdn/11.7.1/img/item/3110.png"> 
        <ion-col>
          <ion-card-title>CORAÇÃO CONGELADO</ion-card-title> 
        </ion-col>
        </ion-row>
        </ion-card-header>
        <ion-card-content>
        "Quando falamos sobre itens de tanque, o Coração Congelado é subestimado. Não podemos deixar isso não pode acontecer, já que todo mundo sabe que o coração é o músculo mais forte (e agora tem mais Armadura!)."
        <ion-card-subtitle style="font-size: 10px;">ARMADURA 70 ⇒ 80</ion-card-subtitle>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-row>
        <img style="width: 80px; height: 80px; padding: 10px ;"   src="//images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt527d49336b821803/5fa1f004432f517518d427b4/3158_Class_T2_IonianBootsofLucidity.png"> 
        <ion-col>
          <ion-card-title>BOTAS IONIANAS DA LUCIDEZ</ion-card-title> 
        </ion-col>
        </ion-row>
        </ion-card-header>
        <ion-card-content>
        "Esses belos pisantes ficaram bem populares no cenário profissional, ofuscando as outras opções de calçados na selva. Para resolver o problema, aumentamos um pouco o preço do item, já que esse é um fator determinante em um meta com foco em limpezas rápidas e emboscadas de custo baixo."
        <ion-card-subtitle style="font-size: 10px;">CUSTO TOTAL 900 de ouro ⇒ 950 de ouro</ion-card-subtitle>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-row>
        <img style="width: 80px; height: 80px; padding: 10px ;"   src="//am-a.akamaihd.net/image?f=http://ddragon.leagueoflegends.com/cdn/11.7.1/img/item/3748.png"> 
        <ion-col>
          <ion-card-title>HIDRA TITÂNICA</ion-card-title> 
        </ion-col>
        </ion-row>
        </ion-card-header>
        <ion-card-content>
        "Trocamos o poder de início de jogo por itemizações menos focadas em Vida."
        <ion-card-subtitle style="font-size: 10px;">DDA ADICIONAL DE COLOSSO Equivalente a 1% da Vida máxima ⇒ Equivalente a 2% da Vida adicional</ion-card-subtitle>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
