<ion-header class="ion-no-border">
  <ion-toolbar color="primary">

    <div *ngIf="loading" style="margin: 0 auto; width:100px">
    <ion-title class="ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-title>
    </div>

    <div *ngIf="!loading">
    <ion-title class="ion-text-center">
      <ion-text style="font-family: LoL Custom Font;">
        <h1>PERFIL</h1>
      </ion-text>
    </ion-title>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
<div *ngIf="foundSumm">
  <ion-card>
    <ion-item>
      <ion-col *ngIf="summoner">        
      </ion-col>
    </ion-item>
    <ion-card>
      <ion-card-header>
        <ion-row>
        <img style="width: 70px; height: 70px; padding: 1px ;" src="//raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/profile-icons/{{summoner.profileIconId}}.jpg"> 
        <ion-col>
          <ion-badge> 
            <ion-text>
              Nível: 
              {{summoner.summonerLevel}}
            </ion-text>
          </ion-badge>
          <ion-card-title style="font-family: bold LoL Custom Font;">{{summoner.name}}</ion-card-title> 
          <ion-card-subtitle>A Costureira Encantada</ion-card-subtitle>
        </ion-col>
        </ion-row>
        </ion-card-header>
    </ion-card>
  </ion-card>
</div>

<div *ngIf="!foundSumm">
  <ion-col>
    <ion-text style="font-family: bold LoL Custom Font;">Invocador não encontrado</ion-text>
  </ion-col>
</div>
</ion-content>
