ion-card{
    ion-item{
        img{
            height: 60px;
            width: 60px;
        }
        ion-label{
            margin-left: 15px;
            font-size: 2em;
            text-align: left;
        }
    }
}