<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
 
    <div *ngIf="loading" style="margin: 0 auto; width:100px">
    <ion-title class="ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-title>
    </div>
 
    <div *ngIf="!loading">
    <ion-title class="ion-text-center">
      <ion-text style="font-family: LoL Custom Font;">
        <h1>PERFIL</h1>
      </ion-text>
    </ion-title>
    </div>
 
  </ion-toolbar>
</ion-header>
 
<ion-content color="secondary">
<div *ngIf="foundSumm && !loading">
  <ion-card>
    <ion-item>
      <img src="//raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/profile-icons/{{summoner.profileIconId}}.jpg" />
      <ion-label style="font-family: bold LoL Custom Font;">{{summoner.name}}</ion-label>
      <ion-badge color="primary" mode="ios">{{summoner.summonerLevel}}</ion-badge>
    </ion-item>
    <ion-col>
      <ion-title style="font-family: bold LoL Custom Font;">CAMPEÕES MAIS JOGADOS</ion-title>
    </ion-col>
    <ion-item>
      <ion-avatar slot="start">
        <img src="//raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{mainsId[0]}}.png" />
      </ion-avatar>
      <h4>{{main0.name}}</h4>
      <ion-badge slot="end" color="primary" mode="ios">Maestria Nv. {{masteries[0].championLevel}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="//raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{mainsId[1]}}.png" />
      </ion-avatar>
      <h4>{{main1.name}}</h4>
      <ion-badge slot="end" color="primary" mode="ios">Maestria Nv. {{masteries[1].championLevel}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="//raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{mainsId[2]}}.png" />
      </ion-avatar>
      <h4>{{main2.name}}</h4>
      <ion-badge slot="end" color="primary" mode="ios">Maestria Nv. {{masteries[2].championLevel}}</ion-badge>
    </ion-item>
  </ion-card>
</div>
 
<div *ngIf="!foundSumm && !loading">
  <ion-button expand="block" routerLink="/home/inicio">
    <ion-icon slot="start" name="return-up-back-outline"></ion-icon>
    <ion-text style="font-family: bold LoL Custom Font;">Invocador não encontrado</ion-text>
  </ion-button>
</div>
</ion-content>
 